@using hydra_engine_blazor.Models
@inject WizardContainer WizardContainer
<ul class="tree">
    <li @onclick="()=>WizardContainer.CurrentElemKey = Key"
        @ondblclick:stopPropagation="true">
        <div class="item-container @(WizardContainer.CurrentElemKey == Key ? "active-link" : "")
                    @(!string.IsNullOrEmpty(WizardContainer.CurrentElemKey) && WizardContainer.CurrentElemKey != Key && string.Join("/", WizardContainer.CurrentElemKey.Split("/").Skip(0).Take(Key.Split("/").Length)) == Key ? "active-parent-link" : "")">
            <img class="collapse-expand-el @(ElemInfo.type != ElemType.Dict ? "hidden" : "")" data-bs-toggle="collapse"
                 data-bs-target="@($"#p{Key.GetHashCode()}")" aria-controls="@($"p{Key.GetHashCode()}")" type="button" aria-expanded="false"
                 @ondblclick:stopPropagation="true" @onclick:stopPropagation="true"/>
            <h4>@ElemInfo.display_name</h4>
        </div>
    </li>
    <div class="collapse" id="@($"p{Key.GetHashCode()}")">
        @if (ElemInfo.type == ElemType.Dict)
        {
            @foreach (var (key,value) in ElemInfo.sub_type_schema)
            {
                <ElementsKeysTree Key="@($"{Key}/{key}")" ElemInfo="@value"></ElementsKeysTree>
            }
        }
    </div>
</ul>


@code {
    [Parameter]
    public ElemInfo ElemInfo { get; set; }
    [Parameter]
    public string Key { get; set; }
}