@using hydra_engine_blazor.Models
@using DefaultNamespace
@inject WizardContainer WizardContainer
@inject WizardModel WizardModel
<ul class="tree @(Settings.SubType == "config" && Settings.Name != "global" || Settings.SubType == "site" ? "config-gap" : "")">
    <li
        @ondblclick:stopPropagation="true">
        <div class="item-container @(WizardContainer.WizardState.CurrentStep == Root ? "active-link" : "")" @onclick="MoveToForm">
            @if (Settings.SubType == "config" && Settings.Name != "global")
            {
                <img class="@(!string.IsNullOrEmpty(WizardContainer.WizardState.CurrentStep) && WizardContainer.WizardState.CurrentStep != Root && string.Join("/", WizardContainer.WizardState.CurrentStep.Split("/").Skip(0).Take(OutputUrlList.Length)) == Root && Settings.SubType == "config" ? "success" : "")"/>
            }
            <h4 class="@(!string.IsNullOrEmpty(WizardContainer.WizardState.CurrentStep) && WizardContainer.WizardState.CurrentStep != Root && string.Join("/", WizardContainer.WizardState.CurrentStep.Split("/").Skip(0).Take(OutputUrlList.Length)) == Root && WizardModel.ControlsMeta != null && WizardModel.ControlsMeta.Child.Count == 0 ? "passed-step" : "") @(Settings.SubType == "config" && Settings.Name != "global" ? "font-weight-400" : "")">@Settings.DisplayName[..1].ToUpper()@Settings.DisplayName[1..]
            </h4>
            @if (Settings.SubType == "site")
            {
                var findSite = WizardContainer.WizardState.Sites.Find(item => item.SiteName == Settings.Name);
                if (findSite != null)
                {
                    switch (findSite.StatusEnum)
                    {
                        case ArchStatus.InProgress:
                            <div class="deploying">Deploying</div>
                            break;
                        case ArchStatus.Completed:
                            <div class="deployed">Deployed</div>
                            break;
                        case ArchStatus.Failed:
                            <div class="failed">Error</div>
                            break;                  
                    }
                }
            }
        </div>
        @if (WizardContainer.WizardState.CurrentStep == Root && WizardModel.ControlsMeta != null)
        {
            foreach(var elem in WizardModel.ControlsMeta.Elem)
            {
                foreach(var kvp in elem)
                {
                    <ElementsKeysTree Key="@kvp.Key" ElemInfo="@kvp.Value" Depth="1" SendValue="() => WizardModel.NotifyStateChanged()"></ElementsKeysTree>
                }
            }
        }
        
    </li>
    <div id="@($"r{Root.GetHashCode()}")">
        @foreach (var item in Settings.Child.Where(item=>item.Type == "form"))
        {
            var href = Root + "/" + item.Name;
            var displayName = DisplayNamePath + "/" + item.DisplayName;
            <WizardNavMenu Settings="@item" Root="@href" DisplayNamePath="@displayName"/>
        }
    </div>
</ul>

@code {
    [Parameter]
    public ControlsMeta Settings { get; set; }
    [Parameter]
    public string Root{ get; set; }
    [Parameter]
    public string DisplayNamePath { get; set; }
    private string link_margin;
    private string[] OutputUrlList=>Root.Split("/");
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnParametersSet()
    {
        var count = OutputUrlList.Length;
        link_margin = $"margin-left:{(count - 1) * 20}px";
    }


    private void MoveToForm()
    {
        if (OutputUrlList.Length >= WizardContainer.WizardState.CurrentStep.Split("/").Length)
        {
            return;
        }
    }

}